<%= render partial: "layouts/flash_message" %>

<%= form_for @invoice, html: { multipart: true } do |form| %>

		<div class="form-group col-sm-10">
	    <label>Image</label>
	    <%= form.file_field :image %>
	   </div>
	   <img src="123.jpg" id="img_prev" style="width:20%;height: 20%;" >
    <div class="form-group col-sm-10">
    	<label>Name</label>
      <%= form.text_field :name ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Invoice Id</label>
      <%= form.text_field :invoice_id ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>From</label>
      <%= form.text_field :from ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>To</label>
      <%= form.text_field :to_heading ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>To Description</label>
      <%= form.text_field :to_description ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Date</label>
      <%= form.text_field :date ,class: "form-control datepicker" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Payment Terms</label>
      <%= form.text_field :payment_terms ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Due Date</label>
      <%= form.text_field :due_date ,class: "form-control datepicker" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Balance Due</label>
      <%= form.number_field :balance_due ,class: "form-control" %>
    </div>

	<div class="items">
		<%= form.nested_fields_for :invoice_items do |f| %>
		<fieldset class="item">
			<div class="row pb-2">

		<div class="col"><%= f.text_field :name ,class:"form-control",placeholder:"item name"%></div>
		<div class="col"><%= f.number_field :quantity ,class:"form-control",placeholder:"quantity" %></div>
		<div class="col"><%= f.number_field :rate ,class:"form-control",placeholder:"rate" %></div>
		<div class="col"><%= f.number_field :amount ,class:"form-control",placeholder:"amount" %></div>
		<div class="col"><%= link_to 'Remove','#',class:"remove btn btn-warning btn-sm"%></div>
     <%= f.hidden_field :id %>
			<%= f.hidden_field :_destroy %>
		</div>
		</fieldset>
		<% end %>

</div>
<%= link_to 'Add Item','#',class:"add btn btn-primary btn-sm"%>
    <!-- <a href="#" class="add btn btn-primary btn-sm">Add More</a> -->

    <div class="form-group col-sm-10">
    	<label>Sub Total</label>
      <%= form.number_field :subtotal ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Discount</label>
      <%= form.number_field :discount ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Tax</label>
      <%= form.number_field :tax ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Total</label>
      <%= form.number_field :total ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Amount Paid</label>
      <%= form.number_field :amount_paid ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Notes Heading</label>
      <%= form.text_field :notes_heading ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Notes Text</label>
      <%= form.text_field :notes_text ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Terms Heading</label>
      <%= form.text_field :terms_heading ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
    	<label>Terms Text</label>
      <%= form.text_field :terms_text ,class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
      <label>Select Project</label>
      <%= form.select :project_id, Project.all.map{|u| [u.name, u.id]}, {}, class: "form-control" %>
    </div>



  	<table class="table">
  		<tr>
  			<td style="border-top:none;" class="" align="center"><%= form.submit "ADD", class: "btn btn-default btn-custom" %></td>

<% end %>


<script>
	$(document).ready(function(e) {
    $('.datepicker').datepicker();
    $('FORM').nestedFields();
    $(".add").click();
  });

	$("#invoice_image").change(function(){
		var val = $(this).val();
		readURL(this);
	});

	function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        var ext = input.files[0].name.split('.').pop().toLowerCase();
        if( ext == "gif" || ext == "jpg" || ext == "png")
        {
          var url = $('#img_prev').attr('src', e.target.result);
          //$('#img_prev').removeClass('image-hidden');
        }
        else
        {
          alert("Not an image !");
          $('#img_prev').addClass('image-hidden');
        }

      }
      reader.readAsDataURL(input.files[0]);
    }
  }

</script>
