Project Name <%= @project.name%>| client Name: <%=@project.client.name%><p>

Project Cost: $ <%=@project.amount%> | Amount Paid: $ <%= @project.amount_paid%>
</p> <br>
Date to deliver: <%=@project.end_date.strftime('%d-%B-%Y') %>  <br>

Due Date: <%=Integer( @project.end_date- @now)%> <br>

<%= dueDate(@now ,@project.end_date) unless false%>

<hr>

<div class="grid-container">
  <div class="grid-item">
    <h3>Tasks DoTo</h3>

    <table style="width:100%">
      <tr>
        <th>Task</th>
        <th>Action</th>
      </tr>
      <%#= render 'tasks', tasks: @tasks %>
      <%= render @project.tasks.incomplete%>


    </table>

    <h3>Tasks Completed</h3>
    <table style="width:100%">
      <tr>
        <th>Task</th>
        <th>Action</th>
      </tr>
      <%#= render 'tasks', tasks: @tasks %>
      <%= render @project.tasks.complete%>


    </table>






    <%= form_with(model: [ @project, @project.tasks.build ],local: true) do |form| %>
    <%= form.text_field :name %> <%= form.submit %>
    <%end%>
  </div>
  <div class="grid-item">

    <h3>Expenses</h3>
    <table style="width:100%">
      <tr>
        <th>Item Name</th>
        <th>Cost</th>
        <th>Action</th>

      </tr>
      <%= render @project.expenses %>

      <tr>
        <td colspan="2"style="background-color:red">Total</td>

        <td style="background-color:red;"><%= @total_expenses %></td>
      </tr>
    </table>






    <%= form_with(model: [@project, @project.expenses.build],local: true)do |form| %>
    <%= form.text_field :item_name %>
    <%= form.number_field :cost, value: number_to_currency(form.object.cost.to_f, delimiter: '', unit: ''), step: 'any'%>
     <%= form.submit %>
    <%end%>
  </div>
  <div class="grid-item">

    <p>Client Email: <%= @project.client.email %></p>
    <p>Client Phone: <%= @project.client.phone %></p>
    <p>Client's Address: <%= @project.client.address %></p>
     <hr>
     <input type="submit" value="Send Email to client"> | <input type="submit" value="Generate Invoice">

  </div>

  <p> <%= link_to 'back',projects_path %></p>


</div>
